{% extends 'base.html.twig' %}

{% block title %}Smart Campus - Changement de salle{% endblock %}

{% block body %}
    <div id="block_pres">
        <h1>Changer la salle d'un système d'acquisition</h1>
    </div>

    <div id="form_block">
        {{ form_start(changeRoom) }}
        <div id="form_header">
            <h1>Veuillez renseigner les informations</h1>
            <p>Les champs <span style="color: red"> * </span> sont obligatoires</p>
        </div>
        <div class="form_line">
            {{ form_widget(changeRoom.newRoom) }} <span style="color: red"> * </span>
        </div>
        <div id="submit_btn">
            <button type="submit">Confirmer les modifications</button>
        </div>
        {{ form_end(changeRoom) }}
    </div>


{% endblock %}