<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SMART CAMPUS{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/leaf.png') }}">
        <!-- Fichier CSS -->
        <link rel="stylesheet" href="{{ asset('base.css') }}">
        <!-- Ne pas inclure les autres fichier CSS ici -->

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <header>
        <div id="nameAndlogo" onclick="homeRedirect()">
            <h1>SMART CAMPUS</h1>
        </div>
        <a id="logout" href="{{ path('app_logout') }}">Déconnexion</a>
    </header>
    <script>
        function homeRedirect(){
            window.location.href = '/usager';
        }
    </script>
        {% block body %}{% endblock %}
    </body>
</html>
