<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('leaf.png') }}">
        {% block stylesheet %}
            <link rel="stylesheet" href="{{ asset('style.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <header>
        <img src="{{ asset('leaf.png') }}" alt="leaf" height="50%" width="5%">Smart Campus
        <a id="navdroite" href="{{ path('login') }}">LogOut</a>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
