{# templates/index/login.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div id="block_pres">
        <h1>BIENVENUE SUR L'ESPACE SMART CAMPUS</h1>
        <p>Connectez-vous ou accedez à l'espace usager</p>
    </div>

    <div id="form_block">
        {{ form_start(form) }}
        <div id="form_header">
            <h1>Veuillez entrer vos identifiants</h1>
            <p>Les champs <span style="color: red"> * </span> sont obligatoires</p>
        </div>
        <div class="form_line">
            {{ form_widget(form.username) }} <span style="color: red"> * </span>
            {% if error == 'badUser'%}
                <p style="color: red">Mauvais login</p>
            {% endif %}
        </div>
        <div class="form_line">
            {{ form_widget(form.password) }} <span style="color: red"> * </span>
            {% if error == 'badPwd'%}
                <p style="color: red">Mauvais mots de passe</p>
            {% endif %}
        </div>
        <div id="submit_btn">
            <button type="submit">Se connecter</button>
        </div>
        {{ form_end(form) }}
    </div>
    <div id="invit_link">
        <a href="">Espace invité</a>
    </div>



{% endblock %}
